:root {
  /* CONTENT */
  --color-body-bg: #f5f8f9;
  --color-text: #444;
  --color-heading-text: #35495e;

  /* LINKS */
  --color-link-text: #73b5d8; /* #93c1e3 #39a275; */
  --color-link-text-active: var(--color-text);

  /* INPUTS */
  --color-input-border: lighten(var(--color-heading-text), 50%);

  /* BUTTONS */
  --color-button-bg: var(--color-link-text);
  --color-button-disabled-bg: darken(desaturate(var(--color-button-bg), 20%), 10%);
  --color-button-text: white;
}
